* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background: #EAEBEC;
  }
  
  .container {
    width: 400px;
    margin: auto;
  }
  
  .calc-body {
    width: 275px;
    margin: auto;
    min-height: 400px;
    border: solid 1px #3A4655;
    box-shadow: 0 8px 50px -7px black;
  }
  
  .calc-screen {
    background: #3A4655;
    width: 100%;
    height: 150px;
    padding: 20px;
  }
  
  .calc-operation {
    text-align: right;
    color: #727B86;
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: dotted 1px;
  }
  
  .calc-typed {
    margin-top: 20px;
    font-size: 45px;
    text-align: right;
    color: #fff;
  }
  
  .calc-button-row {
    width: 100%;
    background: #3C4857;
  }
  
  .button {
    width: 25%;
    background: #425062;
    color: #fff;
    padding: 20px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin-right: -4px;
    border-right: solid 2px #3C4857;
    border-bottom: solid 2px #3C4857;
    transition: all 0.2s ease-in-out;
  }
  
  .button.e {
    background: none;
  }

  .button.l {
    color: #AEB3BA;
    background: #404D5E;
  }
  
  .button.c {
    color: #D95D4E;
    background: #404D5E;
  }
  
  .button:hover {
    background: #E0B612;
  }
  
  .button.c:hover,
  .button.l:hover {
    background: #E0B612;
    color: #fff;
  }

  .button.e:hover {
    background: none;
  }
  
  .blink-me {
    color: #E0B612;
  }